body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
    font-family: "Lexend", sans-serif;
}

.container {
    text-align: center;

    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 45%;
}

h1 {
    color: orange;
    font-size: 45px;
    margin-bottom: 20px;
    font-family: "Lexend", sans-serif;
}

.payment-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.option {
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 23px;
    width: 200px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: border-color 0.3s ease;
}

.option img {
    max-width: 50%;
    max-height: 50%;
}

.option h2 {
    display: block;
    margin-top: 20px;
    font-family: "Lexend", sans-serif;
    font-size: 21px;
}

.option:hover, .option.selected {
    border-color: orange;
    border-radius: 23px;
    border-width: 2px;
}

.total {
    margin-bottom: 20px;
}

.total p {
    margin: 5px 0;
    font-size: 25px;
    font-family: "Lexend", sans-serif;
}

.amount {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.finalize-button {
    background-color: #22B573;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    width: 300px;
    height: 45px;
    font-family: "Lexend", sans-serif;
}

.finalize-button:hover {
    background-color: #1c8f5b;
}

.finalize-button.selected {
    background-color: rgb(0, 70, 0)
}