* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: coral;
}

nav {
    background-color: rgb(255, 161, 126);
}

.banner{
    display: flex;
    padding-left: 250px;
}
.button{
    background-color: yellow;
    color: red;
}

.campos {
    padding: 50px 0 0 0;
}