    * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    
}

    h1 {
    background-color: coral;
    text-align: center;
}

    nav {
   
    background-color: rgb(255, 161, 126);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

    .banner{
    display: flex;
    padding-left: 250px;
}
    .button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}
.button:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

    .campos {
    padding: 50px 0 0 0;
}

/* Estilos para a barra de navegação */


.nav-left {
    display: flex;
    text-decoration:solid;
    color: #000000;
}

.nav-left a {
    margin-right: 20px;
    color: #000000;
}

.nav-right {
    display: flex;
    align-items: center;
    color: #000000;
}

.cart-icon img {
    width: 30px;
    height: 30px;
}

.spacer {
    margin-right: 20px;
    color: #000000; /* Espaço entre os links */
}



/* pagina login & criar conta*/

body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-repeat: no-repeat;
    background-size: cover;
    background: whitesmoke;
    height: 100vh;
  }
  
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29vw;
    background: white;
    border-radius: 10px;
  }
  
  .center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  }
  
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
  }
  
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0px;
    height: 2px;
    background: #000000;
    transition: .5s;
  }
  
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #000000;
  }
  
  .txt_field input:focus ~ span::before,
  .txt_field input:Valid ~ span::before{
    width: 100%;
  }
  
  .pass{
    margin: -5px 0 20px 5px;
    color: #0059ff;
    cursor: pointer;
  }
  
  .pass:hover{
    text-decoration: underline;
  }
  
  input[type="Submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  
  }
  
  input[type="Submit"]:hover{
    background: #000000;
    color: #e9f4fb;
    transition: .5s;
  }
  
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  
  .signup_link a{
    color: #0059ff;
    text-decoration: none;
  }
  
  .signup_link a:hover{
    text-decoration: underline;
  }
  
  .HomeAbout{
    width: 100vw;
    height: 25vh;
  }


  /* centralizaçao da table */

  td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  th{
    background-color: #EEE;
  }
  td{
    font-weight:bold;
    background-color: #EEE;
  }
  
  table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
  }