* {
    font-family: "Lexend", sans-serif;
    padding: 0;
    margin: 0;
}


.pizza {
    display: flex;
    align-items: flex-start;
    height: 700px;
    width: 100%;
    justify-content: space-around;
    background-color: #dfdddc;
}


.txpedido {
    color: #020202;
    margin-right: auto;
    margin-top: 10%;
    padding-left: 9%;

}

.pizza h1 {
    font-size: 100px;
    font-family: "Lexend", sans-serif;
    margin-top: 5%;
}

.pizza h2 {
    font-size: 30px;
    font-family: "Lexend", sans-serif;
    ;
    margin-top: 7%;
}


.pizza button {
    background-color: #ff7018;
    color: #fff;
    width: 230px;
    height: 55px;
    font-size: 25px;
    border: none;
    border-radius: 30px;
    font-family: "Lexend", sans-serif;
    ;
    margin-top: 7%;
}

.img1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 9%;
    top: 8%;
}

.img2 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 18%;
    top: 9%;
}

.img3 {
    width: 80%;
    margin-top: 10%;
    margin-right: 270px;
}


.sobre {
    left: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
    background-color: #ff7018;
}

.sobre img {
    width: 55%;
}

.txS {
    color: #fff;
    padding: 60px;
    margin-top: 35px;
    padding: 32px 65px 0;
}

.sobre h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Lexend", sans-serif;
    ;
    font-size: 50px;
}

.sobre h2 {
    font-size: 25px;
    font-family: "Lexend", sans-serif;
    ;
}

.sobre button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 230px;
    height: 55px;
    font-size: 25px;
    border: none;
    border-radius: 30px;
    font-family: "Lexend", sans-serif;
    ;
    margin-top: 25px;
}

.pdt {
    display: flex;
    align-items: flex-start;
    height: 810px;
    width: 100%;
    justify-content: center;
    background-color: #EFEFEF;
    left: 50%;
}


.pdt h1 {
    text-align: center;
    font-family: "Lexend", sans-serif;
    ;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 5%;
}

.pdt h2 {
    text-align: center;
    font-family: "Lexend", sans-serif;
    ;
    font-size: 25px;
    color: rgb(61, 55, 55);
    margin-top: 10px;
}



.card {
    width: 350px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    border: none;
}

.card img {
    width: 450px;
    height: 270px;

}

.txt h1 {
    text-align: center;
    font-size: 20px;
}

.card2 {
    width: 350px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    float: left;
    align-items: center;
}

.card2 img {
    width: 450px;
    height: 270px;


}

.txd h1 {
    text-align: center;
    font-size: 20px;
}

.card3 {
    width: 350px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    margin-left: 80px;
}

.card3 img {
    width: 450px;
    height: 270px;
}

.txd h1 {
    text-align: center;
    font-size: 20px;
}

.botao {
    display: flex;
}

.btn-container {
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    align-items: center;
}

.btn {

    background-color: #ff7018;
    color: #fff;
    width: 275px;
    height: 60px;
    font-size: 25px;
    border: none;
    border-radius: 35px;
    font-family: "Lexend", sans-serif;
    ;
    margin-top: -5%;

}

.opc {
    display: flex;
    align-items: flex-start;
    height: 810px;
    width: 100%;
    justify-content: center;
    background-color: #ff7018;
}

.txo {
    text-align: center;
    font-family: "Lexend", sans-serif;
    ;
    font-size: 40px;
    margin-bottom: 10px;
    color: #dfdddc;
}

.txo h1 {
    font-size: 50px;
    margin-top: 5%;
}

.card4 {
    width: 350px;
    height: 370px;
    background-color: rgb#ff7018;
    border-radius: 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
}

.card4 img {
    width: 150px;
    height: 150px;

}

.card5 {
    width: 350px;
    height: 370px;
    background-color: rgb#ff7018;
    border-radius: 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    float: left;
    align-items: center;
}

.card5 img {
    width: 150px;
    height: 150px;
}

.txp h1 {
    text-align: center;
    font-size: 25px;
    color: #dfdddc;

}

.txp h2 {
    text-align: center;
    font-size: 20px;
    color: #dfdddc;

}

.card5 h1 {
    text-align: center;
    font-size: 25px;
    color: #dfdddc;
}

.card5 h2 {
    text-align: center;
    font-size: 20px;
    color: #dfdddc;
}

.card6 {
    width: 350px;
    height: 370px;
    background-color: rgb#ff7018;
    border-radius: 20px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    float: left;
    align-items: center;
}

.card6 img {
    width: 150px;
    height: 150px;
}

.card6 h1 {
    text-align: center;
    font-size: 25px;
    color: #dfdddc;
}

.card6 h2 {
    text-align: center;
    font-size: 20px;
    color: #dfdddc;
}

.imgj {
    margin-top: -17%;
}

.imgn {
    margin-top: -17%;
}

.imgf {
    margin-top: -17%;
}

.rodape {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;
    background-color: #000000;

}

.rodape img {
    width: 60%;
}


.txr {
    color: #fff;
    padding: 60px;
    margin-top: 35px;

}

.txr h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Lexend", sans-serif;
    ;
}

.txr h2 {
    font-size: 18px;
    font-family: "Lexend", sans-serif;
    ;
}


.txl {
    color: #fff;
    margin-top: 80px;

}

.txl h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Lexend", sans-serif;
    ;
}

.txa {
    color: #fff;
    margin-top: 80px;
}

.txa h1 {
    font-size: 23px;
}

.txa h2 {
    font-size: 18px;
    font-family: "Lexend", sans-serif;
    ;
}