* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.menu {
    font-size: 26px;
}

.main-content {
    display: flex;
    height: calc(100% - 80px); /* Ajuste para a altura do header */
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.bttns {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.bttnsStyle {
    font-size: 22px;
    border: none;
    border-radius: 50px;
    background: #FF7018;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.pizzasSection {
    padding-right: 20px;
}

.pizzaDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.pizzaTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.pizzaImg {
    border-radius: 50%;
    width: 125px; 
}

.cart {
    width: 500px;
    padding: 20px;
    background-color: white;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.cart-header img {
    margin-bottom: 10px;
}

.cart-items {
    width: 100%;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.counter button {
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 5px;
    background-color: #FF7018;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.item-price {
    width: 100%;
    text-align: right;
    padding-left: 20px;
}

.cart-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cart-total h3 {
    margin-bottom: 5px;
}

.calculate-frete {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.calculate-frete img {
    width: 30px;
}

.calculate-frete input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.calculate-frete button {
    padding: 5px 10px;
    background-color: #FF7018;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.price-total {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    padding-left: 20px;
    font-size: x-large;
    color: red;
}

.calculate-frete1 button {
    width: 180px;
    height: 50px;
    padding: 5px 10px;
    font-size: large;
    background-color: #FF7018;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}